<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Anime Pictures | <%= title %></title>
    <link href="/images/Icon_Adventurer_Handbook.png" rel="icon">
    <link href="/index.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Anime Pictures</h1>
      <h2>A Picture Everyday</h2>
    </header>
