<%- include("./partials/head.ejs")%>
    <%- include("./partials/nav.ejs") %>
    <main>
      <article id="article">
        <p> Well this is Awkward, this page doesn't Exist</p>
      </article>
    </main>
  </body>
</html>
